html {
    scroll-behavior: smooth;
}

.register-container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(97, 97, 241);
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(97, 97, 241);
    border-radius: 20px;
    padding: 0px 100px 50px 100px;
}

.register-form-container h2 {
    margin-bottom: 50px;
    transition: 0.5s;
    border: none;
}

.register-form-container:hover h2 {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

.auth-button a {
    color: white;
    background: transparent;
    text-decoration: none;
}

.auth-button {
    border: 1px solid rgb(97, 97, 241);
    background-color: rgb(97, 97, 241);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: normal;
}

.auth-button:hover {
    border: 1px solid #ffffff;
    color: rgb(97, 97, 241);
    background-color: white;
    transition: 0.5s;
}

.auth-button:hover a{
    color: rgb(97, 97, 241);
    transition: 0.5s;
}

.file-manager-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 12px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(97, 97, 241);
    width: 200px;
    font-size: 20px;
}


.pin-button {
    border-radius: 15px;
    padding: 12px;
    background-color: rgb(97, 97, 241);
    color: white;
    width: 225px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

.file-manager-upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(97, 97, 241);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.file-manager-hash-list-item a {
    color: white;
    text-decoration: none;
}

.file-manager-hash-list-item a:hover {
    color: white;
    text-decoration: underline;
}

.sign-contract-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    border-top: 2px solid rgb(97, 97, 241);
}

.sign-contract-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(97, 97, 241);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}